*{
    font-family: 'Martel Sans', Roboto, Scope One, sans-serif;
    font-weight: 200;
    color: white;
    background-color: black;
}

#permanente{
    display:grid;
    justify-content: space-around;
    align-items: stretch;
    margin: 4px 2px 8px 2px;
    padding: 1.5% 0.8%;
    border: 0.2pt solid #cedddd;
    -webkit-border-radius: 5px; 
   /* en navegadores antiguos de Mozilla, 
   como Firefox.  */
   -moz-border-radius: 5px;    
   /* en navegadores modernos. */
   border-radius: 5px;         
     /* sombra a un elemento */
     -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
     -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
     box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}


h1{
    font-family: 'Martel Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}
h2{
    font-family:'Roboto',sans-serif;
}
p{
    font-family: 'Scope One',sans-serif;
}
#photo {
    /* Ancho del elemento */
    width: 200px; 
    /* Alto del elemento */
    height: auto; 
  }
.subtitle {
    /* Color del texto en rgba */
    color: rgba(254, 255, 250, 0.527);
    /* Transformación del texto a mayúsculas */ 
    text-transform: uppercase; 
}
section {
    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px; 
 
    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd; 
 
    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */
 
    padding: 1.5% 0.8%; 
 
    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */
 
    padding-left: 1.2%; 
    padding-right: 1.2%; 
    -webkit-border-radius: 5px; 
   /* en navegadores antiguos de Mozilla, 
   como Firefox.  */
   -moz-border-radius: 5px;    
   /* en navegadores modernos. */
   border-radius: 5px;         
     /* sombra a un elemento */
     -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
     -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
     box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
  }
nav{
    position:sticky;
    top: 0; /* Ajusta según sea necesario */
    z-index: 1000; /* Opcional, para que quede sobre otros elementos */
}
nav ul {
    list-style-type: none;
    /* Modelo de diseño flexible */
    display: flex;									
    justify-content: space-around;
    margin: 4px 2px 8px 2px; 
 
    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd; 
 
    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */
 
    padding: 1.5% 0.8%; 
 
    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */
 
    padding-left: 1.2%; 
    padding-right: 1.2%; 
    -webkit-border-radius: 5px; 
   /* en navegadores antiguos de Mozilla, 
   como Firefox.  */
   -moz-border-radius: 5px;    
   /* en navegadores modernos. */
   border-radius: 5px;         
     /* sombra a un elemento */
     -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
     -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
     box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}
nav a:visited {
    color: rgb(165, 10, 165); /* Cambia a morado después de ser visitado */
}
section form {
    display: grid;									
    row-gap: 0.5rem;
}

section a:visited {
    color: rgb(84, 56, 241); /* Cambia a morado después de ser visitado */
}
#resumen{
    display: grid;
    justify-content: space-around;
    align-items: stretch;
    grid-template-areas: "A D" 
                        "B D";
}

#resumen h2{
    grid-area: A;
}

#resumen p{
    grid-area: B;
}

#resumen img{
    grid-area: D;
}


#educacion ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

#educacion ul iframe{
    border-radius: 5%;
    background-color: rgba(127, 255, 212, 0.411);
    padding: 2px;
}

input,
textarea{
    border: 2pt solid #cedddd;
}

/*footer start*/
footer {
    text-align: center;
}

footer a:visited {
    color: rgb(241, 84, 56); /* Cambia a morado después de ser visitado */
}
/*footer end*/

button {
    padding: 10px 20px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
    background: black;
    transition: background-image 0.5s ease;
}
    
button:hover {
    border: 2px solid transparent;
    background-image: linear-gradient(45deg, black, black),
                      linear-gradient(45deg, red, orange, yellow, green, cyan, blue, violet);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
    border: 3.5pt solid #ffffff;
  }
video{
    border: 3.5pt solid rgba(127, 255, 212, 0.411);
}
iframe{
    max-width: 100%;
}

#proyectos{
    display: grid;
    justify-content: space-around;
    align-items: stretch;
    grid-template-areas: "X Y" 
                        "X Z";
}

#proyectos h2{
    grid-area: Y;
}

#proyectos video{
    grid-area: X;
}

#proyectos ul{
    grid-area: Z;
}

#video{
    background-color: rgba(240, 255, 255, 0.13);
}